{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}
    <h1>Mon Panier</h1>
    <table>
        <thead>
            <th>Robot</th>
            <th>prix</th>
            <th>Quantité</th>
            <th>Total</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for element in data %}
                <td>{{ element.robot.name }}</td>
                <td>{{ element.robot.price }} €</td>
                <td>{{ element.quantity }}</td>
                <td>{{ element.quantity * element.robot.price }} €</td>
                <td>
                    <a href='{{path('cart_add', {id: element.robot.id })}}'><button>+</button></a>
                    <a href='{{path('cart_remove', {id: element.robot.id })}}'><button>-</button></a>
                    <a href='{{path('cart_delete', {id: element.robot.id }) }}'><button>Supprimer</button></a>
                </td> 
            {% else %}
            <tr>
                <td colspan="5">Votre panier est vide </td>
            </tr>
            <tfoot>
                <tr>
                <td colspan="3">Total </td>
                <td> {{total}} € </td>
                <td> </td>
                </tr>
            </tfoot>

            {% endfor %}
        </tbody>
    </table>


        

{% endblock %}
