{% extends 'base.html.twig' %}

{% block title %}
	{{ robot.name }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}


{% block body %}
	<h1>{{ robot.name }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Reference</th>
				<td>{{ robot.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ robot.name }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ robot.description }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ robot.price }}
					€</td>
			</tr>
			<tr>
				<th>Photo</th>
				<td>
					<img src="{{ asset('images/' ~ robot.image ~ '.png') }}" width="300px" alt="Image de {{ robot.name }}">
				</td>
			</tr>
			<tr>
				<th>Catégorie</th>
				<td>{{ robot.category.name }}</td>
			</tr>

		</tbody>
	</table>

	<div class="button-container">
		<a href="{{ path('robot_shop') }}" class="btn">Retour</a>
		<form action="{{ path('cart_add', {'id': robot.id}) }}" method="post" style="display: inline;">
			<button type="submit" class="btn styled-button">Acheter</button>
		</form>
	</div>


{% endblock %}

