{# templates/user/new.html.twig #}

<h1>Créer un nouvel utilisateur</h1>

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.save) }}
{{ form_end(form) }}
